version: '3.9'

services:
  server:
    context: .
    dockerfile: ./Dockerfile
  container_name: mern_server
  ports:
    - 80:3005
  depends_on:
    - mongo
  env_file:
    - .env

  mongo:
    image: mongo
    container_name: mern_db
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    volumes:
      - ./data:/data/db
